footer.wide-container.site-footer
  div.container
    .row
      .col-xs-12.col-sm-3
        a.small-logo(href="/") rattoradio
      .col-xs-12.col-sm-6
        ul.list-unstyled.footer-nav
          li
            a(href="#") Etusivu
          li
            a(href="#") Ohjelma
          li
            a(href="#") Kuuntele
          li
            a(href="#") Kuuntele
      .col.xs-12.col-sm-3
        ul.list-unstyled.social-links
          li
            a(href="#fabo")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.fb-color
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a(href="#irccijosniihinonlinkkia")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.irc-color
                i.fa.fa-terminal.fa-stack-1x.fa-inverse
            a(href="#twittah")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.twitter-color
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
            a(href="#instagram")
              span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.insta-color
                i.fa.fa-instagram.fa-stack-1x.fa-inverse

a#back2top(href="#top") 
  span.fa-stack.fa-lg
    i.fa.fa-square.fa-stack-2x
    i.fa.fa-angle-up.fa-stack-1x.fa-inverse





script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
script(src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.carousel.min.js")

script(src="js/rattoradio.js")