footer.container.wide-container.site-footer
  .row
    .col-sm-12.col-md-4
      img(src="img/rattoradio.png", alt="")
    .col-sm-12.col-md-6




script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="../bower_components/jquery-cycle2/build/jquery.cycle2.min.js")
script(src="../bower_components/jquery-cycle2/build/plugin/jquery.cycle2.carousel.min.js")

script(src="js/rattoradio.js")