mixin sponsors(sponsors)
  -each sponsor in sponsors
    div
      a(href="#")
        img(src="http://placehold.it/162x162/"+sponsor+"/abbeef/", alt="")

div.wide-container
  div.horizontal-sponsors-wrap
    div.horizontal-sponsors.slideshow(
      data-cycle-fx='carousel',
      data-cycle-timeout=3000,
      data-cycle-carousel-visible=5,
      data-cycle-slides='> div'
      )
      +sponsors(["ffaaff", "afbafa", "bbaaddd", "aebbaa", "abbabb",'abababa'])   