include variables

div.wide-container
  div.horizontal-sponsors-wrap
    div.horizontal-sponsors(
      data-cycle-fx='carousel',
      data-cycle-timeout=3000,
      data-cycle-carousel-visible=4,
      data-cycle-slides='> div'
      )
      +sponsors(sponssit)   