include variables
.container.main-content
  .row.featurette
      

      .col-sm-6.col-md-3
        include yhteys-box.jade
      .col-sm-6.col-md-5
        h2 Tämän päivän ohjelmisto
        +paivaohjelmat(paivaohjelma)

      .col-sm-12.col-md-4
        h2 Uutiset
        .news-wrap
          mixin uutinen()
            dl
              dt 
                time KE 23.4.2013 @ 12:40 
                br
                span Rattoradio käynnistyy jipii!
              dd
                p usce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          +uutinen()
          +uutinen()
          +uutinen()
          a(href="#").text-center Lisää uutisia..