.table-responsive.ohjelmakartta
  table.table
    thead
      th.first KLO
      th KE 23.4.
      th TO 24.4.      
      th PE 25.4.
      th LA 26.4.
      th SU 27.4.
      th MA 28.4.
      th TI 29.4.
      th KE 30.4.
    tr
      td.first 00-08
      td Toimiix tää?
      td Yömasennus
      td Yömasennus (01-08)
      td Tähdellistä asiaa
      td Wesipojat
      td Kuolleen musiikin Yömasennus
      td BDS-M
      td Oravan viimeinen yö
    tr
      td.first 08-11
      td Aamuratto
      td Aamuratto
      td Aamuratto
      td Allianssin Aamu
      td Allianssin Aamu
      td Aamuratto
      td Aamuratto
      td Aamuratto
    tr
      td.first 11-12
      td Joonaksen lounashölinää
      td Joonaksen lounashölinää
      td Joonaksen lounashölinää
      td Oulu vs. Tampere
      td Oulu vs. Tampere
      td Joonaksen lounashölinää
      td Joonaksen lounashölinää
      td Julistukset Kulkue / uitot
    tr
      td.first 12-14
      td Ratto-Orava
      td Ratto-Orava
      td Ratto-Orava
      td Oulu vs. Tampere
      td Ratto-Orava
      td Ratto-Orava
      td Ratto-Orava
      td
    tr
      td.first. 14-16
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Päiväkahvipojat
      td Loppulähtys
    tr
      td.first 16-17
      td In your mama's house
      td In your mama's house
      td In your mama's house
      td In your mama's house
      td In your mama's house
      td In your mama's house
      td In your mama's house
      td
    tr
      td.first 17-20
      td VPJt ulalla
      td VPJt ulalla
      td Souvvi
      td Souvvi
      td VPJt ulalla
      td VPJt ulalla
      td VPJt ulalla
      td
    tr
      td.firs 20-22
      td Wesilinjalla
      td Pauli ja Vesku paksuna (20-23)
      td Nolona!
      td Wesilinjalla
      td Pauli ja Vesku paksuna (20-23)
      td Nolona!
      td Nolona!
      td
    tr
      td Tyttöjen ilta
      td Tyttöjen ilta (23-01)
      td Kohuradio
      td Kohuradio
      td Setä hoitaa (23-00)
      td Kohuradio
      td Kohuradio
      td




