include variables
.container.another-color.hidden-xs
  .row
    // instagram widgetti
    .col-xs-12.col-sm-6
      .social-wrap.hidden-lg
        h3 
          i.fa.fa-instagram.fa-1x
          span Rattoradio instaa!
        | <iframe src="http://snapwidget.com/in/?u=cmF0dG9yYWRpb3xpbnwxNTB8M3wzfHxub3wxMHxub25lfG9uU3RhcnR8bm8=&v=15414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:480px"></iframe>
      .social-wrap.hidden-md
        h3 
          i.fa.fa-instagram.fa-1x
          span Rattoradio instaa!
        | <iframe src="http://snapwidget.com/in/?u=cmF0dG9yYWRpb3xpbnwxNTB8M3wzfHxub3wxMHxub25lfG9uU3RhcnR8bm8=&v=15414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:480px"></iframe>
        a(href="http://instagram.com/rattoradio", target="_blank") Ratto instaa

    // facebook widgetti
    .col-xs-12.col-sm-6
      .social-wrap.hidden-lg
        h3 
          i.fa.fa-facebook.fa-1x
          span Rattoradio on Facebook
        | <div class="fb-like-box" data-href="https://www.facebook.com/rattoradio" data-width="455px" data-height="400px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="true"></div>
      .social-wrap.hidden-md
        h3
          i.fa.fa-facebook.fa-1x
          span Rattoradio on Facebook
        | <div class="fb-like-box" data-href="https://www.facebook.com/rattoradio" data-width="535" data-height="480" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
