include variables
.box
  h2 Yhteys studioon
  ul.box-list.list-unstyled
    li
      a(href="#") Shoutbox
        i.fa.fa-bullhorn.pull-right 
    li
      a(href="#") Toivo biisiä
        i.fa.fa-gift.pull-right
    li
      span IRC  
        strong rattoradio@irc.net
        i.fa.fa-code.pull-right
    li
      a(href="tel:00000") Soita:  
        strong 040 123 1234
        i.fa.fa-mobile-phone.pull-right
    li
      span Skype:  
        strong rattoradioskype
        i.fa.fa-skype.pull-right