/*
* LESS
* 
*
*/
@import "variables";
@import 'mixins';
@import '/font-awesome/font-awesome';

* {
	.box-sizing( border-box);
}

body, html {
	padding: 0;
	margin: 0;
	background-color: @bgColor;
	//#gradient > .radial(#272e38, #232830);
	//.rattoGradient;
	background: url("@{imgurl}background.jpg"); 

	color: @textcolor;
	a {
		color: @textcolor;
		&:hover {
			color: lighten(@rattoBlue, 40%);
		}
	}
	font-family: @bodyFamily;
}

h1,h2,h3,h4,h5 {
	font-family: @headingFamily;
	font-weight: 700;
}



body > .footer-push {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -@footerheight;
}

a:hover .twitter-color { color: #00aced; }
a:hover .fb-color { color: #3b5998; }
a:hover .insta-color { color: #517fa4; }
a:hover .irc-color { color: red; }


/**

LAYOUT

**/



.wide-container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.container-divider {
	height: 4px;
	width: 100%;
	.rattoGradientInvert();
	border-top: 0;
	margin-top: 0;

}

@-webkit-keyframes moving-gradient {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

.container {
	
	@media (min-width:@sm) {
			margin-bottom: 0px;
	}
	.site-footer > & {
		margin-top: 40px;
		margin-bottom: 0;
	}
	&.main-content {
		margin-top: 40px;
	}
}



.content-row {
	padding: 40px 0;
}
div[class*="col-"]  {
	img{
		max-width: 100%;
		height: auto;
	}
}
/**

NAV BAR

**/




.navbar {
	background-color: @darkBlue;
	@media (min-width:@sm) {
		background: rgba(0, 0, 0,0.4)
	}
	//background: @darkBlue;
	//border-bottom: 1px solid #fafafa;
	//.box-shadow(0 0 20px rgba(0,0,0,0.2));
	a {
		color: white;

	}

	.open a, a:hover {
		color: #333;
	}
	.navbar-toggle span {
		background-color: white;
	}
	.navbar-center {
		@media (min-width:@sm) {
			margin: 0 auto;
			display: table;
			float: none;
		}
		
	}
	&.down {
		opacity: 1;
		.translate(0,0);
		.transition-transform(.2s);
		.transition(color .3s);
		.transition(opacity .3s);
	}
	&.up {
		opacity: 0;
		.translate(0,-60);
		.transition-transform(.2s);
		.transition(color .3s);
		.transition(opacity .3s);
	}
	.dropdown-menu {
		background: lighten(@darkBlue, 3%);
		color: white;
		a {
		  color: white;
		  &:hover {
		  	color: white;
		  	background-color: lighten(@darkBlue, 8%);
		  }
		}
		.divider {
			background-color: lighten(@darkBlue, 8%);
		}
	}
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}

.navbar-collapse.collapse.in {
	background: @darkBlue;
}


 /**
 **
 List- nav

 */
 h3.list-head {
 	color: @rattoGreen;
 }

 ul.list-nav {
 	li {
		&:first-of-type a {
				border:none;
		}

 		a {
 			display: block;
 			padding: 5px 15px;
 			border-color: gray;
 			border-top: 1px solid rgba(255, 255, 255, 0.1);
 			//background: rgba(255, 255, 255, 0.02);
 			text-decoration: none;
 			&:hover {
				background: rgba(255,255,255,0.2);
				color: white;
 			}
 		}
 	}
 }



/**

BUTTONEEEITa

**/

.btn {
	border: none;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn+.btn {
	margin-left: 10px;
}

/* Button 2 */
.btn-animated {
	background: @primaryBtn;
	background: @primaryBtn;
	color: @primaryBtnText;
	box-shadow: 0 6px darken(@primaryBtn, 10%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 5px;
	&:hover {
		box-shadow: 0 4px darken(@primaryBtn, 10%);
		top: 2px;
		color: @primaryBtnText;
	}

	&:active {
		box-shadow: 0 0 darken(@primaryBtn, 10%);
		top: 6px;
		color: @primaryBtnText;
	}
}


/**

JUMBOTRON

**/

.big-logo {
	.text-hide();
	color: rgba(0, 0, 0, 0) !important;
	width: 531px;
	height: 226px;
	display: block;
	background-image: url("@{imgurl}rattoradiomedtaajuus_iso.png");
	background-repeat: no-repeat;
}

.small-logo {
	display: inline-block;
	.text-hide();
	height: 100px;
	width: 219px;
	color: rgba(0, 0, 0, 0) !important;
	background-image: url("@{imgurl}rattoradiomedtaajuus.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.jumbotron-wrap {
	background-color: @rattoBlue;
	background: url("@{imgurl}hero-bg.jpg");
	background-size: cover;
}
.jumbotron {
	padding-top: @topNavHeight;
	color: white;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	
}

img.current-show {
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 410px;
	height: auto;
}
.vertical-cycle {

}



/**

ei jaksa enaa olla jarjestelmallinen

**/

.box {
	//background: rgba(255, 255, 255, 0.8);
	background: white;
	color: @whiteBgText;
	//border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	h2 {
		text-align: center;
		font-weight: 700;
	}
	a, a:hover, a:active, a:visited{
		color: @darkGray;

	}

	margin: 0px;
	padding: 10px;
}
.box-list {
	a {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 10px;
		border-top: 1px solid #fafafa;
		text-decoration: none;
		font-weight: 700;
		font-size: 16px;
		line-height: 28px;
		.transition( all  0.3s );
		&:hover {
			//#gradient > .horizontal-three-colors(white; @mid-color: #fafafa; @color-stop: 50%; @end-color: white);
			
			//.rattoGradient()
			//background: @rattoGreen;
			color: @rattoGreen;
		}
	}
	.fa {
		position: absolute;
		right: 10px;
		width: 26px;
		text-align: center;
		font-size: 24px;
		color: @rattoBlue;
	}
}

.time-list {
	a {
		display: block;
		width: 100%;
		padding: 5px 10px;
		text-decoration: none;
		font-size: 16px;

		border-top: 1px solid rgba(255, 255, 255, 0.1);

		&:hover {
			background: rgba(255,255,255,0.2);
			color: white;
 		}
		time {
			display: inline;
			font-weight: 700;
			text-align: left;
			margin-right: 10px;
			//.rattoGradient;
			color: @rattoGreen;
		}
	}
}

/* Featurettes
------------------------- */

.marketing {
	padding: 30px 0;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;	
  line-height: 1;
  letter-spacing: -1px;
}


/* Carousel
------------------------- */

#vertical-sponsors {
  display: none;
	@media (min-width: @md) {
		display: block;
	}
  position: absolute;
  top: 0;
  right: 5%;
  height: 486px;

  .cycle-slide {
  	height: 162px;
  	width: 162px;
  }
  overflow: hidden;
  background: #FFF;
}
.horizontal-sponsors-wrap {
	width: 100%;
	background: white;
	margin-bottom: 30px;
}
.horizontal-sponsors {
	width: 100% ;
	background: white;
	.cycle-slide {
		width: 162px;
		height: 162px;
		padding: 0;
		margin: 0;
	}
	a {
		display: inline-block;
		height: auto;
	}
}

/* News
----*/

dt {
	color: @rattoGreen;
	font-size: 16px;
}



/* Footer
------------------------- */

.site-footer {
	background: darken(@bgColor, 4%);
	min-height: @footerheight;
	@media (min-width:@sm) {
		margin-bottom: 0;
	}
	
	a {
		text-decoration: none;
	}

	margin-bottom: 0 !important;
	.row > div {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		> ul {
			@media (min-width:@sm)  {
				padding-top: 40px;
			}
		}
		.footer-nav {
			line-height: 36px;
			@media (min-width:@sm) {
				padding-left: 0;
				list-style: none;
				margin-left: -5px;
				> li {
					display: inline-block;
					padding-left: 5px;
					padding-right: 5px;
				}
				}
		}
	}
}

.social-links {
	.fa-inverse {
		color: @darkBlue;
	}
} 

#back2top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: @rattoGreen;
}



/* OHJELMA KUVAUKSET
--------------------- */

.ohjelma-kuvaus {
	margin-bottom: 30px;	
		h2 {
			@media (max-width: @sm) {
				margin-top: 0;
			}

			
			background: rgba(255, 255, 255, 0.3);
			padding: 5px 15px;

		}
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);	
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);	
}
.bg-primary {
	background: @rattoGreen;
	font-weight: bold;
	padding: 10px 20px;
}