/// Variables

@imgurl: '../img/';
@heading_family: 'Montserrat', sans-serif;

// DEfine colors
@darkGray: #343434;
@lightGray: #F6F6F6;
@gray: #eee;
@almostWhite: #fafafa;

@darkBlue: #272e38;
@red: #C82026;
@yokOrange: #f26438;
@rattoBlue: #0072bc;
@rattoGreen: #acd037;
@rattoLBlue: #45a1c8;



// usage

@bgColor: @darkBlue;
@textcolor: white;
@whiteBgText: @darkBlue;

.rattoGradient(){
	#gradient > .horizontal(#225cec,#00fff1, 0%,100%);
}





// layout

@topNavHeight: 50px;
@footerheight: 80px;



// responsive points 

@sm: 768px;
@md: 992px;
@lg: 1200px;