include includes/head

body
  div.footer-push
    include includes/main_nav.jade
    // jumbotron
    div.wide-container.jumbotron-wrap
      .container
        .jumbotron(style="bffackground-image: url(img/holders/front-jumbotron.jpg);")
          h1.big-logo Rattoradio
          p.lead
            strong Nyt soi
            Rattoradio
          p
            a.btn.btn-lg.btn-primary(href="#", role="button") Kuuntele!
              i.fa.fa-volume-up
            a.btn.btn-lg.btn-primary(href="#", role="button") Katsele!
              i.fa.fa-video-camera

    div.container
      .row
        .col-xs-12
          ul.list-inline.list-sponsors
          mixin sponsors(sponsors)
            -each sponsor in sponsors
              li
                a(href="#")= sponsor
          +sponsors(["ferrari", "mclaren", "red bull", "lotus"]
