doctype html
html(lang="en")
  include includes/head

  body

    div.footer-pushssssss
      include includes/main-nav.jade
      // jumbotron
      include includes/jumbotron.jade

      .container-divider
  
      include includes/horizontal-sponsors.jade
      
      .container-divider

      include includes/main-container
    



    include includes/footer