doctype html
html(lang="en")
  include includes/head


  body

    mixin sponsors(sponsors)
      -each sponsor in sponsors
        div
          a(href="#")
            img(src="http://placehold.it/162x162/"+sponsor+"/abbeef/", alt="")
    div.footer-pushssssss
      include includes/main_nav.jade
      // jumbotron
      div.wide-container.jumbotron-wrap
        .container
          .jumbotron(style="bffackground-image: url(img/holders/front-jumbotron.jpg);")
            h1.big-logo Rattoradio
            p.lead
              strong Nyt soi: 
              span Rattoradio
            p
              a.btn.btn-lg.btn-animated(href="#", role="button") Kuuntele! 
                i.fa.fa-volume-up
              a.btn.btn-lg.btn-animated(href="#", role="button") Katsele! 
                i.fa.fa-video-camera
        #vertical-sponsors
          div.list-unstyled.vertical-sponsors.slideshow(
            data-cycle-fx=carousel,
            data-cycle-timeout=1000,
            data-cycle-carousel-visible=3,
            data-cycle-carousel-vertical=true,
            data-cycle-slides="> div"
            )
            +sponsors(["ffaaff", "afbafa", "bbaaddd", "aebbaa", "abbabb"])
      .container-divider
  
      div.wide-container
        div.list-inline.horizontal-sponsors(
            data-cycle-fx=carousel,
            data-cycle-timeout=1000
            )
          +sponsors(["arkkarit", "uniresta", "jumpru", "tek", "oyy"])

      
      include includes/main-container
    

      .container.another-color.hidden-xs
        .row
          .col-xs-12.col-sm-6
            h2 Kuvagalleria


          .col-xs-12.col-sm-6
            h2 Facebook setti

            


    include includes/footer