doctype html
html(lang="en")
  include includes/head
  



  body

    div.footer-pushssssss
      include includes/main-nav.jade
      // jumbotron
      include includes/jumbotron.jade

      .container-divider

      //include includes/horizontal-sponsors.jade
      
      //.container-divider


      .container.main-content
        .row
          .col-xs-12.col-sm-3
            .sticky-nav.mobile.hidden-md.hidden-lg
              h3.list-head Ohjelmaesittelyt
              ul.list-unstyled.list-nav
                +ohjelmalista(kaikkiohjelmat)
            #affix-menu.sticky-nav.desktop.hidden-xs.hidden-sm
              h3.list-head Ohjelmaesittelyt
              ul.list-unstyled.list-nav
                +ohjelmalista(kaikkiohjelmat)

            //include includes/yhteys-box.jade
          .col-xs-12.col-sm-9
            +ohjelmainsertti(kaikkiohjelmat)

    include includes/footer